
body {
    font-family: Verdana;
    text-align: center;
    margin: 32px;
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 50px;
    font-size: 20px;
    color: rgb(13, 12, 34);

}

#first-line {
    width: 85%;

}
    

.login-option {
    font-size: 12px;
    color: gray;
    display: inline-block;
    background-color: white;
    padding: 10px 24px;
    margin-top: -27px;
    position: center;
    
}


#gmail-button {
    display: block;
    width: 100%;
    margin-right: 32px;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 8px;
    outline: 2px;
    position: center;
    border-color: gray;
    border: 0.8px solid gray;
    background-color: white;
}

input {
    display: block;
    width: 100%;
    margin-right: 32px;
    padding: 14px;
    outline: 2px;
    position: center;
    margin-bottom: 20px;
    border: 0.8px solid rgb(185, 185, 185);
    border-radius: 8px;

}

input:focus {
    background-color: transparent;
    border: 1px solid rgba(255, 152, 245, 0.8);
    box-shadow: 0 0 0 5px rgba(254, 216, 241, 0.5);
}

.login-username {
    font-weight: 600;
    font-size: 13px;
    padding-bottom: 6px;
    display: block;
    text-align: left;
}

.login-password {
    font-weight: 600;
    font-size: 13px;
    padding-bottom: 6px;
    display: block;
    position: absolute;
    text-align: left;
}

.forgot {
    font-size: 13px;
    color: rgb(41, 41, 41);
    font-weight: 400;
    position: relative;
    float: right;
    margin-bottom: 6px;
    
}

.Sign-in {
    width: 380px;
    margin-top: 15px;
    padding: 14px;
    right: 0px;
    border-radius: 30px;
    border: 0px;
    background-color: rgb(21, 21, 21);
    color: white;
}

#subcopy {
    font-size: 13px;
    font-weight: 400px;
    color: rgb(87, 87, 87);
    margin-top: 24px;
}

.gmail-signin {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.gmail-logo {
    margin-right: 8px; 
    height: 16px;
}

.gmail-signin span {
    display: inline-block;
    color: #555;
}

.Sign-up {
    font-size: 13px;
    color: #555;
    padding-left: 4px;
}
